In [41]:
import pandas as pd
import matplotlib as plt

In [42]:
#Import CSV File for 30 year mortgage rates 2019-2023
rates = pd.read_csv('mortgagerates.csv')
#listing counts for Multnomah county
m_county = pd.read_csv('multnomah.csv')
#listing counts for Clackamas County
c_county = pd.read_csv('clackamas.csv')
#Listing counts for Washington County
w_county = pd.read_csv('washington.csv')
# Median Home Values and income
house = pd.read_csv('cleaned_home_values.csv')

In [43]:
rates

#convert the date
rates['observation_date'] = pd.to_datetime(rates['observation_date'])

#extract Year and create a new column
rates['Year'] = rates['observation_date'].dt.year


#group by Year and calculate the mean
mean_rate = rates.groupby('Year')['MORTGAGE30US'].mean().round(0)
mean_rate

mean_rate

Year
2019    4.0
2020    3.0
2021    3.0
2022    5.0
2023    7.0
Name: MORTGAGE30US, dtype: float64

In [44]:
rate_df = mean_rate.reset_index()
rate_df.columns = ['Year', 'Average Rate']
rate_df

   Year  Average Rate
0  2019           4.0
1  2020           3.0
2  2021           3.0
3  2022           5.0
4  2023           7.0

In [45]:
#Create Multnomah County DF
#convert the date
m_county['observation_date'] = pd.to_datetime(m_county['observation_date'])

#extract Year and create a new column
m_county['Year'] = m_county['observation_date'].dt.year

#group by Year and calculate the mean
m_house_count = m_county.groupby('Year')['NEWLISCOU41051_20250107'].mean().round(0)

mult_df = m_house_count.reset_index()
mult_df.columns = ['Year', 'Multnomah County: Mean House Count']
mult_df

   Year  Multnomah County: Mean House Count
0  2019                              1249.0
1  2020                              1126.0
2  2021                              1269.0
3  2022                              1128.0
4  2023                               866.0

In [46]:
c_county.head()

  observation_date  ACTLISCOU41005_20250107  ACTLISCOU41005_20250130
0       2019-01-01                     1118                     1120
1       2019-02-01                     1127                     1129
2       2019-03-01                     1191                     1191
3       2019-04-01                     1304                     1304
4       2019-05-01                     1387                     1389

In [47]:
#create Clackamas County DF
#convert the date
c_county['observation_date'] = pd.to_datetime(m_county['observation_date'])

#extract Year and create a new column
c_county['Year'] = c_county['observation_date'].dt.year

#group by Year and calculate the mean
c_house_count = c_county.groupby('Year')['ACTLISCOU41005_20250107'].mean().round(0)

clack_df = m_house_count.reset_index()
clack_df.columns = ['Year', 'Clackamas County: Mean House Count']
clack_df

   Year  Clackamas County: Mean House Count
0  2019                              1249.0
1  2020                              1126.0
2  2021                              1269.0
3  2022                              1128.0
4  2023                               866.0

In [48]:
w_county.head()

  observation_date  TOTLISCOU41067_20250107  TOTLISCOU41067_20250130
0       2019-01-01                     1053                     1049
1       2019-02-01                     1012                     1009
2       2019-03-01                     1074                     1073
3       2019-04-01                     1208                     1208
4       2019-05-01                     1325                     1324

In [49]:
#create Washington County DF
#convert the date
w_county['observation_date'] = pd.to_datetime(m_county['observation_date'])

#extract Year and create a new column
w_county['Year'] = w_county['observation_date'].dt.year

#group by Year and calculate the mean
w_house_count = w_county.groupby('Year')['TOTLISCOU41067_20250107'].mean().round(0)

wash_df = w_house_count.reset_index()
wash_df.columns = ['Year', 'Washington County: Mean House Count']
wash_df

   Year  Washington County: Mean House Count
0  2019                               1514.0
1  2020                               2180.0
2  2021                               1728.0
3  2022                               1686.0
4  2023                               1631.0

In [50]:
merge1 = pd.merge(wash_df,clack_df, on='Year')
merge2 = pd.merge(merge1,mult_df, on='Year')
merge3 = pd.merge(merge2, rate_df, on='Year')
merge3

,Year,Washington County: Mean House Count,Clackamas County: Mean House Count,Multnomah County: Mean House Count,Average Rate
0,2019,1514.0,1249.0,1249.0,4.0
1,2020,2180.0,1126.0,1126.0,3.0
2,2021,1728.0,1269.0,1269.0,3.0
3,2022,1686.0,1128.0,1128.0,5.0
4,2023,1631.0,866.0,866.0,7.0

In [51]:
house.head()

,County,Median Household Income,Median Home Value,Median Gross Rent,Year,Price-to-Income Ratio,Rent-to-Income Ratio
0,"Washington County, Oregon",82215,386600,1359,2019,4.702305,19.835796
1,"Clackamas County, Oregon",80484,395100,1295,2019,4.909050,19.308185
2,"Multnomah County, Oregon",69176,386200,1237,2019,5.582861,21.458309
3,"Clackamas County, Oregon",82911,421100,1356,2020,5.078940,19.625864
4,"Multnomah County, Oregon",71425,410800,1309,2020,5.751488,21.992300

In [52]:
house
wash_df = house[house['County']=='Washington County, Oregon']
clack_df = house[house['County']=='Clackamas County, Oregon']
mult_df = house[house['County']=='Multnomah County, Oregon']

mult_df = mult_df.reset_index()
mult_df = mult_df[['Year','Median Home Value']]
mult_df.columns = ['Year', 'Multnomah County: Median Home Values']
mult_df

   Year  Multnomah County: Median Home Values
0  2019                                386200
1  2020                                410800
2  2021                                437600
3  2022                                492100
4  2023                                528000

In [53]:
clack_df = clack_df.reset_index()
clack_df = clack_df[['Year','Median Home Value']]
clack_df.columns = ['Year', 'Clackamas County: Median Home Values']
clack_df

   Year  Clackamas County: Median Home Values
0  2019                                395100
1  2020                                421100
2  2021                                452200
3  2022                                532200
4  2023                                577900

In [54]:
wash_df = wash_df.reset_index()
wash_df = wash_df[['Year','Median Home Value']]
wash_df.columns = ['Year', 'Washington County: Median Home Values']
wash_df

   Year  Washington County: Median Home Values
0  2019                                 386600
1  2020                                 413500
2  2021                                 439300
3  2022                                 504300
4  2023                                 558500

In [60]:
merge4 = pd.merge(merge3, wash_df, on='Year')
merge5 = pd.merge(merge4, clack_df, on='Year')
merged_df = pd.merge(merge5, mult_df, on='Year')
merged_df

,Year,Washington County: Mean House Count,Clackamas County: Mean House Count,Multnomah County: Mean House Count,Average Rate,Washington County: Median Home Values,Clackamas County: Median Home Values,Multnomah County: Median Home Values
0,2019,1514.0,1249.0,1249.0,4.0,386600,395100,386200
1,2020,2180.0,1126.0,1126.0,3.0,413500,421100,410800
2,2021,1728.0,1269.0,1269.0,3.0,439300,452200,437600
3,2022,1686.0,1128.0,1128.0,5.0,504300,532200,492100
4,2023,1631.0,866.0,866.0,7.0,558500,577900,528000

In [61]:
#export CSV
merged_df.to_csv('calc.csv', index=False)